---
---
<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="健身一族 : Wechat Fitness Group">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="toggle.js"></script> -->
    <title>健身一族</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/fitnessgroup">View on GitHub</a>

          <h1 id="project_title">健身一族</h1>
          <h2 id="project_tagline">Wechat Fitness Group</h2>
          <img src="images/fitness-dumbell.jpg" style="height:100px">
          <img src="images/fitness-running.jpg" style="height:100px">
          <img src="images/fitness-tennis.jpeg" style="height:100px">
          <img src="images/fitness-clip.jpg" style="height:100px">
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h2>
            <a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>欢迎加入健身一族</h2>

        <h3>参考信息：</h3>
        <p>健身音乐： 多米， 喜马拉雅， 网易云音乐</p>
        <p>健身应用： JeFit， Johnson 7 minutes</p>
        <p>卡路里计算器：<a href="http://www.active.com/fitness/calculators/calories" class="user-mention">戳这里</a> 同一页有心率范围，体重标准，卡路里分配</p>
        <p>local NC gym: Fitnessconection 不到 $10 / 月！</p>
        
        <hr>

        <h3>资料分享：</h3>
        <h4>马甲线，人鱼线</h4>
        <ul id="span4">
            {% for post in site.categories.abs %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>体脂</h4>
        <ul>
            {% for post in site.categories.bodyfat %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>High Intensity Interval Training</h4>
        <ul>
            {% for post in site.categories.hiit %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>无氧训练</h4>
        <ul>
            {% for post in site.categories.weight %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>
 
        <h4>Warm up and Cool down - 小心受伤</h4>
        <ul>
            {% for post in site.categories.injury %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>跑跑步，走走路</h4>
        <ul>
            {% for post in site.categories.running %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>自重训练</h4>
        <ul>
            {% for post in site.categories.bodyweight %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>
 
      </section>
   </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="https://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-61654641-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
