---
layout: default
---
      <section id="main_content" class="inner">
        <h2>
            <a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>健身资料</h2>

        <h4>上肢训练</h4>
        <ul id="span4">
            {% for post in site.categories.upper %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>训练计划</h4>
        <ul id="span4">
            {% for post in site.categories.plans %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>


        <h4>马甲线，人鱼线</h4>
        <ul id="span4">
            {% for post in site.categories.abs %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>体脂</h4>
        <ul>
            {% for post in site.categories.bodyfat %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>High Intensity Interval Training</h4>
        <ul>
            {% for post in site.categories.hiit %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>无氧训练</h4>
        <ul>
            {% for post in site.categories.weight %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>
 
        <h4>Warm up and Cool down - 小心受伤</h4>
        <ul>
            {% for post in site.categories.injury %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>跑跑步，走走路</h4>
        <ul>
            {% for post in site.categories.running %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>

        <h4>自重训练</h4>
        <ul>
            {% for post in site.categories.bodyweight %}
            <!-- <li> -->
            <h5>
                <a id="posts" class="anchor" href="{{ post.url }}">{{ post.title }}<span class="octicon octicon-link"></span></a></h5>
            <p>{{ post.excerpt }}</p>
            <!-- </li> -->
            {% endfor %}
        </ul>
 
      </section>
   </div>

